
<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="utf-8">
    <title>成都旅游网</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/default/easyui.css"><link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/demo/demo.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="http://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>



    <!-- Le styles -->
    <link rel="stylesheet" href="../public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom-theme/jquery-ui-1.10.3.custom.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css">
    <![endif]-->
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="css/custom-theme/jquery.ui.1.10.3.ie.css">
    <![endif]-->
    <link rel="stylesheet" href="/assets/css/docs.css">
    <link rel="stylesheet" href="/assets/js/google-code-prettify/prettify.css">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true">

<!-- Navbar
 ================================================== -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">成都旅游网</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li>
                        <a href="javascript:alert('需要公司信息')">关于我们</a>
                    </li>
                    <li>
                        <a href="javascript:alert('需要公司联系方式')">联系我们</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- Subhead
 ================================================== -->
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>成都旅游网</h1>
        <p class="lead">天府之国，美食家园，吃货天堂</p>
    </div>
</header>


<div class="container" >
    <!-- Menu -->
<div class = "row">
    <div class="page-header">
        <form  class="well form-inline">
      <div class="row-fluid"><div><h1>管理菜单</h1></div> <div align = "right"><p>名字</p></div></div>
       </form>
    </div>
    <div >
    <section id="block-menu"  class = "span2">

        <div class="clearfix">
            <ul id="menu">
                <li>
                    <a href="#">景点管理</a>
                    <ul>
                        <li><a id="query_spots" class="tag">查找景点</a></li>
                        <li><a id="change_spots"  class="tag">修改景点</a></li>
                        <li><a id="add_spots" class="tag">增加景点</a></li>
                        <li><a id="delete_spots" class="tag">删除景点</a></li>
                    </ul>
                </li>
                <li>
                  <a href="#">路线管理</a>
                            <ul>
                                <li><a href="#">查找路线</a></li>
                                <li><a href="#">修改路线</a></li>
                                <li><a href="#">增加路线</a></li>
                                <li><a href="#">删除路线</a></li>
                            </ul>
                  </li>
                <li>
                  <a href="?Delphi">Offer管理</a>
                            <ul>
                                <li><a href="#">查找Offer</a></li>
                                <li><a href="#">修改Offerd</a></li>
                                <li><a href="#">增加Offer</a></li>
                                <li><a href="#">删除Offer</a></li>
                            </ul>
                </li>
                 <li><a href="#">订单管理</a>
                    <ul>
                        <li><a href="#">查找订单</a></li>
                        <li><a href="#">修改订单</a></li>
                        <li><a href="#">增加订单</a></li>
                        <li><a href="#">删除订单</a></li>
                    </ul>
                </li>
            </ul>

      </div>
     </section>
        <section id="blank"  class = "span1"></section>
</div>
<div >
        <!-- Menu -->
        <section class="span8">

                <div id = "content">
                </div>

         </section>
    <section id="blank2"  class = "span1"></section>
  </div>

</div>
<script>
    $(function(){
    $("#menu").menu();
    })


    $(".tag").click( function(){
        $('#content').load("query_spots.html");

    });

</script>

<!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery-1.9.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/holder.js"></script>
    <script src="/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/assets/js/docs.js"></script>
    <script src="/sctravel/grid.locale-en.js" type="text/javascript"></script>
    <script src="/sctravel/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="/sctravel/orderprocess.js" type="text/javascript"></script>
</body>
</html>
