<!DOCTYPE html>
<html lang="cn">
<head>
<%include layout/bootstrap.ejs%>
<%include layout/jqGridInclude.ejs%>


</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true">

<!--<% include layout/navibar.ejs%>-->

<div class="container" >
    <!-- Menu -->
    <div class = "row">

        <div style="float:right;">
            <font size="2">你好，<b><%= username %></b>! 欢迎登陆!</font>
            <button id="logout">注销登陆</button>

        </div>


        <div class="navbar adminpage">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn - adminpage" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li>
                                <a id="spots">景点管理</a>
                            </li>
                            <li>
                                <a id="routes">路线管理</a>
                            </li>
                            <li>
                                <a id="offer">套餐管理</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div >
            <!-- Menu -->
            <section class="span8">

                <div id = "content"></div>

            </section>
            <section id="blank2"  class = "span1"></section>
        </div>

    </div>

    <script>

        var toolIds=[];

        $(function(){
            $("#menu").menu();
            username = "<%= username %>";
            randomKey = "<%= randomKey %>";

            //show the tools that the user has permission to view
            $.get("/services/admin/toolIdsByAdminUser/"+username,function(results){

                for(var i in results) {
                    $('#'+results[i].tool_id).show();
                }

            });
            console.log(username);


        })

        $("#logout").click( function(){
            window.location.href=("/logout");
        });

        $("#spots").click( function(){
            $('#content').load("queryspots");
        });

        $("#routes").click( function(){
            $('#content').load("queryroutes");
        });

        $(".offers").click( function(){
            $('#content').load("queryoffers");
        });

        $("#query_orders").click( function(){
            $('#content').load("queryorders");
        });
        $("#add_orders").click( function(){
            $('#content').load("adminPlaceOrders");
        });



        $(".users").click( function(){
            $('#content').load("queryusers");
        });

        $(".superusers").click( function(){
            $('#content').load("querysuperusers");
        });


        $(".managerPermission").click( function(){
            $('#content').load("toolPermission");
        });

        $(".managerUser").click( function(){
            $('#content').load("adminUserManagement");
        });
        /*
        */


    </script>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery-1.9.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/holder.js"></script>
    <script src="/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/assets/js/docs.js"></script>
    <script src="/sctravel/grid.locale-en.js" type="text/javascript"></script>
    <script src="/sctravel/jquery.jqGrid.min.js" type="text/javascript"></script>
</body>
</html>