<!DOCTYPE html>
<html lang="cn">

<%include layout/bootstrap.ejs%>

<body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true">

<% include layout/navibar.ejs%>


<div class="container" >
    <!-- Menu -->
    <div class = "row">

        <div style="float:right;">
            <font size="2">你好，<b><%= username %></b>! 欢迎登陆!</font>
            <font size="2">你的随机数是，<b><%= randomKey %></b></font>

            <button id="logout">注销登陆</button>

        </div>
        <div class="page-header">
            <h1>管理菜单</h1>
        </div>
        <div >
            <section id="block-menu"  class = "span2">

                <div class="clearfix">
                    <ul id="menu">
                        <li>
                            <a href="#">景点管理</a>
                            <ul>
                                <li><a id="query_spots" class="tag">查找景点</a></li>
                                <li><a id="change_spots"  class="tag">修改景点</a></li>
                                <li><a id="add_spots" class="tag">增加景点</a></li>
                                <li><a id="delete_spots" class="tag">删除景点</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">路线管理</a>
                            <ul>
                                <li><a id="query_routes" class="route">查找路线</a></li>
                                <li><a id="change_routes" class="route">修改路线</a></li>
                                <li><a id="add_routes" class="route">增加路线</a></li>
                                <li><a id="delete_routes" class="route">>删除路线</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">套餐管理</a>
                            <ul>
                                <li><a id="query_offers" class="offers">查找套餐</a></li>
                                <li><a id="change_offers" class="offers">修改套餐</a></li>
                                <li><a id="add_offers" class="offers">增加套餐</a></li>
                                <li><a id="delete_offers" class="offers">>删除套餐</a></li>
                            </ul>
                        </li>
                        <li><a href="#">订单管理</a>
                            <ul>
                                <li><a id="query_orders" class="orders">查找订单</a></li>
                                <li><a id="change_orders" class="orders">修改订单</a></li>
                                <li><a id="add_orders" class="orders">增加订单</a></li>
                                <li><a id="delete_orders" class="orders">>删除订单</a></li>>
                            </ul>
                        </li>
                        <li><a href="#">用户管理</a>
                            <ul>
                                <li><a id="query_users" class="users">查找用户</a></li>
                                <li><a id="change_users" class="users">修改用户</a></li>
                                <li><a id="add_users" class="users">增加用户</a></li>
                                <li><a id="delete_users" class="users">>删除用户</a></li>>
                            </ul>
                        </li>
                        <li><a href="#">超级管理员管理</a>
                            <ul>
                                <li><a href="change_superusers" class="superusers">修改管理员</a></li>
                                <li><a href="add_superusers" class="superusers">增加管理员</a></li>
                                <li><a href="delete_superusers" class="superusers">删除管理员</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </section>
            <section id="blank"  class = "span1"></section>
        </div>
        <div >
            <!-- Menu -->
            <section class="span8">

                <div id = "content"></div>

            </section>
            <section id="blank2"  class = "span1"></section>
        </div>

    </div>

    <script>
        $(function(){
            $("#menu").menu();

        })

        $("#logout").click( function(){
            window.location.href=("/logout");
        });

        $(".tag").click( function(){
            $('#content').load("queryspots");
        });

        $(".route").click( function(){
            $('#content').load("queryroutes");
        });

        $(".offers").click( function(){
            $('#content').load("queryoffers");
        });

        $(".orders").click( function(){
            $('#content').load("queryorders");
        });

        $(".users").click( function(){
            $('#content').load("queryusers");
        });

        $(".superusers").click( function(){
            $('#content').load("querysuperusers");
        });
        /*
        */


    </script>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery-1.9.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/holder.js"></script>
    <script src="/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/assets/js/docs.js"></script>
    <script src="/sctravel/grid.locale-en.js" type="text/javascript"></script>
    <script src="/sctravel/jquery.jqGrid.min.js" type="text/javascript"></script>
</body>
</html>