<%include layout/jqGridInclude.ejs%>
<div class="container" >

   <button id="getAllSpots">查询景点</button>


   <table id="listResult">

   </table>
   <div id="pagerResults"></div>
</div>

<script>

   var DeleteRow = function(cl){
       var rowData = jQuery('#listResult').getRowData(cl);
       alert(rowData['spot_name']);

       $.get("/services/admin/deleteSpots/"+rowData['spot_id'] ,function(data){
           if(data=="done") {
               searchSpots();
           } else {
               //TODO deal with the edit failed case
           }
       });

       jQuery('#listResult').delRowData(cl);
   };


    var searchSpots = function() {

        console.log("searchSpots Now");
        $.get("/services/getAll/sceneryspots", function (results) {
            spots = []; //results is an object, not an array
            for (i in results) {
                spots.push(results[i]);
            }

            //jQuery("#listResult").GridUnload();
            console.dir(spots);
            jQuery("#listResult").jqGrid({
                datatype: "local",
                data: spots,
                colNames: ['Id','名称', '类型', '纬度', '精度', '是否景点', '是否发车地', '是否有效', '删除'],
                colModel: [
                    {name: 'spot_id', index: 'spot_id', align: "center", editable: true, sortable: false},
                    {name: 'spot_name', index: 'spot_name', align: "center", editable: true, sortable: false},
                    {name: 'spot_type', index: 'spot_type', align: "center", editable: true, sortable: false},
                    {name: 'longitude', index: 'longitude', align: "center", editable: true, sortable: false},
                    {name: 'latitude', index: 'latitude', align: "center", editable: true, sortable: false},
                    {name: 'is_scenery', index: 'is_scenery', align: "right"},
                    {name: 'is_start', index: 'is_start', align: "right"},
                    {name: 'is_active', index: 'is_active', align: "center", editable: true, sortable: false},
                    {name: 'is_valid', index: 'is_valid', formatter: "is_valid",
                        formatoptions: {disabled: false},
                        editable: true, edittype: 'checkbox', cellEdit: true, sortable: false,
                        editoptions: { value: "1:0", defaultValue: 0 }  }
                ],

                gridComplete: function(){ var ids = jQuery("#listResult").jqGrid('getDataIDs');

                    var i=0;
                    for( i=0;i < ids.length;i++){
                    var cl = ids[i];

                    ce = "<input style='height:22px;width:80px;' type='button' value='删除'" +
                        " onclick=\"DeleteRow('"+cl+"') \" />";

                       jQuery("#listResult").jqGrid('setRowData',ids[i],{is_valid:ce});


                    } },
                caption: "景点列表",
                width: 770,
                height: "100%"
            });

            for(var i in spots) {
                $('#listResult').jqGrid('setCell',spots[i].spot_name,'is_valid',0)
            }
        });
    };

    $("#getAllSpots").click(searchSpots);









</script>












