<%include layout/jqGridInclude.ejs%>
<div class="container" >

   <button id="getAllSpots">查询景点</button>


   <table id="listResult">

   </table>
   <div id="pagerResults"></div>
</div>

<script>

    $("#getAllSpots").click(function(){
        $.get("/services/getAll/sceneryspots", function(results){
            spots = []; //results is an object, not an array
            for(i in results){
                spots.push(results[i]);
            }

            jQuery("#listResult").GridUnload();
            console.dir(spots);
            jQuery("#listResult").jqGrid({
                    datatype: "local",
                    data: spots,
                    colNames:['名称','类型','纬度','精度','是否景点','是否发车地','是否有效'],
                    colModel:[
                    {name:'spot_name',index:'spot_name', align:"center",editable: true,sortable:false},
                    {name:'spot_type',index:'spot_type', align:"center",editable: true,sortable:false},
                    {name:'longitude',index:'longitude', align:"center",editable: true,sortable:false},
                    {name:'latitude',index:'latitude', align:"center",editable: true,sortable:false},
                    {name:'is_scenery',index:'is_scenery', align:"right"},
                    {name:'is_start',index:'is_start', align:"right"},
                    {name:'is_active',index:'is_active', align:"center",editable: true,sortable:false}
                    ],
                    caption: "景点列表",
                    width: 770,
                    height: "100%"
            });
        })
    });

</script>












