<!DOCTYPE html>
<html lang="cn">
<head>
    <%include bootstrap.ejs%>
</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true">

<%include navibar.ejs%>


<div class="container" >
    <!-- Menu -->
    <div class = "row">
        <div style="float:right;">
            <font size="2">你好，<b><%= username %></b>! 欢迎登陆!</font>
            <font size="2">你的随机数是，<b><%= randomKey %></b></font>
            <button id="logout">注销登陆</button>
        </div>
    </div>
    <div >
        <!-- Menu -->
            <div id = "selectUser">
                <form  class="well form-inline">
                    <div class="row-fluid order" >
                        <div  class="span2"><bold>用户名：</bold><select id="usernameSelect" class="start" style="width:140px;"></select></div>
                    </div>
                </form>
                <div class="row-fluid" > <button id="searchPermission">查询权限</button></div>
            </div>
            <div id = "toolPermissions">
                <table id="userPermissions">

                </table>
            </div>
            <div class="row-fluid" >
                <button id="submitChange">提交</button>
            </div>
    </div>

</div>

<script>
    $("#searchPermission").click( function(){
        $.get( "/services/admin/allAdminUsers", function(data) {
            console.log(data);
            var adminUsers = data;

            var option = "<option value =  0>" +  "请选择" + "</option>";
            $(option).appendTo($('#usernameSelect'));

            for(var i in adminUsers) {

                var  adminUser = adminUsers[i];


                var option = "<option value = "  +  adminUser.username + ">" +  adminUser.name  + "</option>"

                $(option).appendTo($('#usernameSelect'));
            }
        });

        //$('#content').load("queryspots");
    });
    $("#logout").click( function(){
        window.location.href=("/logout");
    });
    $("#submitChange").click( function(){

        var selectedUsername = $('#usernameSelect').val();
        $.get( "/services/admin/toolIdsByAdminUser/"+selectedUsername, function(data) {
            console.log(data);
        });
    });



</script>