<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/sctravel/ui.jqgrid.css">
    <link rel="stylesheet" type="text/css" href="/sctravel/ui.multiselect.css">
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/default/easyui.css"><link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/demo/demo.css">



    <!-- Le styles -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom-theme/jquery-ui-1.10.3.custom.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css">
    <![endif]-->
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="css/custom-theme/jquery.ui.1.10.3.ie.css">
    <![endif]-->
    <link rel="stylesheet" href="/assets/css/docs.css">
    <link rel="stylesheet" href="/assets/js/google-code-prettify/prettify.css">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <script>
        $(function(){

            $.ajax({url:"/services/getAll/sceneryspots", success:function(results){

                spots = results;

                spot_show =  {"rows" : [

                                       ]

                             };

              for( var spot_index in spots){
                     spot = spots[spot_index];
                      var val = [];
                for(var attr in spot){
                    val.push(spot[attr]);

                }
                  var cell = {"cell" : val};
                  spot_show.rows.push(cell);
              }

                jQuery(document).ready(function(){
                    jQuery("#list2").jqGrid({

                        datastr: spot_show,
                        datatype: "jsonstring",

                        colNames:['id','名称','类型','纬度','精度','是否景点','是否发车地','是否有效'],
                        colModel:[  {name:'spot_id',index:'spot_id',align:'right'},
                                    {name:'spot_name ',index:'spot_name', align:"right"},
                                    {name:'type ',index:'type', align:"right"},
                                    {name:'longitude',index:'longitude', align:"right"},
                                    {name:'latitude',index:'latitude', align:"right"},
                                    {name:'is_scenery',index:'is_scenery', align:"right"},
                                    {name:'is_start',index:'is_scenery', align:"right"},
                                    {name:'is_active',index:'is_active', align:"right"}

                        ],
                        width: 770,
                        height: "100%"
                    });
                });

            }})

            


        })



    </script>
</head>




            <div><table id="list2" ></table></div>




