<!-- Navbar
 ================================================== -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">成都旅游网</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li>
                        <a href="/">主页</a>
                    </li>
                    <li>
                        <a href="/sctravel/about.html">关于我们</a>
                    </li>
                    <li>
                        <a href="/sctravel/contact.html">联系我们</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Subhead
 ================================================== -->
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>成都旅游网</h1>
        <p class="lead">天府之国，美食家园，吃货天堂</p>
    </div>
</header>